.node {
    background-color: #00a2e8;
    width: 10px;
    height: 10px;
    position: absolute;
}
.link {
    background-color: #dddddd;
    position: absolute;
}

#graph1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

#graph1 > svg {
    width: 100%;
    height: 100%; 
}

#search {
    top: 5px;
    margin-left: auto;
    margin-right: auto;
}
#hoveredName {position: absolute; top: 40px; left: 10px; padding: 7px; background-color: #EFEFEF; text-align: center; display: none; max-width: 20em; font-family: "Helvetica";}
#hoveredName > img { margin-top: 6px;}
#hoveredName > div { font-size: smaller; text-align: left; margin-bottom: 5px; border-bottom: 1px solid black;}